@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url('rain.jpg');
    margin: 0;
    padding: 0;
}

main {
    background: rgba(218, 218, 218, 0.8);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 2rem 0;
    width: 100%;
    color: white;
    font-size: 2rem;
    letter-spacing: 5px;
}

.logo-container img {
    width: 8rem;
    margin: 2rem 1rem;
}

.text-container {
    width: 55ch;
    padding: 2rem 1rem;
}